/*--------------------------------------------------------------
# Why Choose Us Section
--------------------------------------------------------------*/
a {
  text-decoration: none !important;
}
.why-us {
    padding-bottom: 0;
  }
  
  .why-us .img-bg {
    background-size: cover;
  }
  
  .why-us .slides {
    background-color: #f7f9fc;
  }
  
  .why-us h3 {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-secondary);
  }
  
  .why-us h4 {
    font-size: 18px;
    font-weight: 400;
    color: #29486a;
    font-family: var(--font-secondary);
  }
  
  .why-us .swiper {
    margin: 140px 140px 120px 140px;
    overflow: hidden;
  }
  
  .why-us .swiper-button-prev:after,
  .why-us .swiper-button-next:after {
    font-size: 24px;
    color: var(--color-secondary);
  }
  
  .why-us .swiper-button-prev {
    left: 80px;
  }
  
  .why-us .swiper-button-next {
    right: 80px;
  }
  
  .why-us .swiper-pagination {
    margin-top: 30px;
    position: relative;
  }
  
  .why-us .swiper-pagination .swiper-pagination-bullet {
    background-color: var(--color-secondary);
  }
  
  .why-us .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--color-primary);
  }
  
  @media (max-width: 1200px) {
    .why-us .swiper {
      margin: 60px 60px 40px 60px;
    }
  
    .why-us .swiper-button-prev,
    .why-us .swiper-button-next {
      display: none;
    }
  }
  
  @media (max-width: 575px) {
    .why-us .swiper {
      margin: 40px 5px 20px 5px;
    }
  }
  
  .page-about .why-us {
    padding: 0 0 80px 0;
  }



  .section2 {
    overflow: hidden;
    padding: 80px 0;
  }
  
  .section-header {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-header h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .section-header h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 2px;
    background: var(--color-primary);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  .section-header p {
    margin-bottom: 0;
  }

  .testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #e8eff6;
    opacity: 1;
  }
  
  .testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--color-primary);
  }
  
  .testimonials .swiper-slide {
    opacity: 0.3;
  }
  
  @media (max-width: 1199px) {
    .testimonials .swiper-slide-active {
      opacity: 1;
    }
  
    .testimonials .swiper-pagination {
      margin-top: 0;
    }
  
    .testimonials .testimonial-item {
      margin: 40px 20px;
    }
  }
  
  @media (min-width: 1200px) {
    .testimonials .swiper-slide-next {
      opacity: 1;
      transform: scale(1.12);
    }}


    /*--------------------------------------------------------------
# Portfolio Section
--------------------------------------------------------------*/
.portfolio .portfolio-flters {
    padding: 0;
    margin: 0 auto 30px auto;
    list-style: none;
    text-align: center;
  }
  
  .portfolio .portfolio-flters li {
    color: var(--color-secondary);
    cursor: pointer;
    display: inline-block;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    margin: 0 10px;
    line-height: 1;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  .portfolio .portfolio-flters li:hover,
  .portfolio .portfolio-flters li.filter-active {
    color: var(--color-primary);
  }
  
  .portfolio .portfolio-flters li:first-child {
    margin-left: 0;
  }
  
  .portfolio .portfolio-flters li:last-child {
    margin-right: 0;
  }
  
  @media (max-width: 575px) {
    .portfolio .portfolio-flters li {
      font-size: 14px;
      margin: 0 5px;
    }
  }
  
  .portfolio .portfolio-item {
    position: relative;
  }
  
  .portfolio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
  }
  
  .portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-default);
    padding-right: 50px;
  }
  
  .portfolio .portfolio-item .portfolio-info p {
    color: #6c757d;
    font-size: 14px;
    margin-bottom: 0;
    padding-right: 50px;
  }
  
  .portfolio .portfolio-item .portfolio-info .preview-link,
  .portfolio .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 50px;
    font-size: 24px;
    top: calc(50% - 14px);
    color: rgba(27, 47, 69, 0.7);
    transition: 0.3s;
    line-height: 0;
  }
  
  .portfolio .portfolio-item .portfolio-info .preview-link:hover,
  .portfolio .portfolio-item .portfolio-info .details-link:hover {
    color: var(--color-primary);
  }
  
  .portfolio .portfolio-item .portfolio-info .details-link {
    right: 14px;
    font-size: 28px;
  }
  
  .portfolio .portfolio-item:hover .portfolio-info {
    opacity: 1;
    bottom: 20px;
  }
  
  /*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/
  .portfolio-details .portfolio-details-slider img {
    width: 100%;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid var(--color-primary);
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--color-primary);
  }
  
  .portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(27, 47, 69, 0.1);
  }
  
  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d6e2ef;
  }
  
  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  
  .portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
  }
  
  .portfolio-details .portfolio-description {
    padding-top: 30px;
  }
  
  .portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--color-secondary);
  }
  
  .portfolio-details .portfolio-description p {
    padding: 0;
  }


  .call-to-action {
    background-size: cover;
    padding: 100px 0;
  }
  
  @media (min-width: 1365px) {
    .call-to-action {
      background-attachment: fixed;
    }
  }
  
  .call-to-action h3 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 25px;
    font-weight: 700;
  }
  
  .call-to-action p {
    color: #fff;
    margin-bottom: 25px;
  }
  
  .call-to-action .cta-btn {
    font-family: var(--font-default);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #2aa5df;
  }
  
  .call-to-action .cta-btn:hover {
    background: var(--color-primary);
  }


  /*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
.features {
    padding-bottom: 0;
  }
  
  .features h3 {
    color: var(--color-secondary);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  
  .features .icon-list i {
    margin-right: 10px;
    font-size: 24px;
    line-height: 1.2;
  }
  
  .features .icon-list span {
    font-size: 18px;
    color: #29486a;
  }
  
  .features .phone-wrap {
    position: absolute;
    right: 0;
  }
  
  @media (max-width: 768px) {
    .features .phone-wrap {
      position: relative;
    }
  }
  
  .features .phone-wrap img {
    width: 340px;
  }
  
  @media (max-width: 992px) {
    .features .phone-wrap img {
      margin-top: 30px;
    }
  }
  
  @media (max-width: 768px) {
    .features .phone-wrap img {
      width: 100%;
    }
  }
  
  .features .details {
    margin-top: 80px;
    padding: 120px 0;
    background-color: #f7f9fc;
  }
  
  .features .details h4 {
    color: var(--color-secondary);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .features .details p {
    margin-bottom: 20px;
    font-size: 15px;
  }
  
  .features .details .btn-get-started {
    font-family: var(--font-primary);
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 32px;
    border-radius: 50px;
    transition: 0.5s;
    background-color: var(--color-primary);
    color: #fff;
  }
  
  .features .details .btn-get-started:hover {
    background: #2aa5df;
  }


  .flex-container2 {
    display: flex;
    flex-wrap: wrap;
    width: auto !important;
    height: 70vh !important;
    align-items: center !important;
  }

  .footer {
    font-size: 14px;
  }
  
  .footer .footer-content {
    background-color: #f7f9fc;
    background-size: contain;
    padding: 60px 0 30px 0;
  }
  
  .footer .footer-content .footer-info {
    margin-bottom: 30px;
  }
  
  .footer .footer-content .footer-info .logo {
    line-height: 0;
    margin-bottom: 25px;
  }
  
  .footer .footer-content .footer-info .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .footer .footer-content .footer-info .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--color-secondary);
    font-family: var(--font-secondary);
    margin-top: 3px;
  }
  
  .footer .footer-content .footer-info p {
    font-size: 15px;
    margin-bottom: 0;
    font-family: var(--font-primary);
    color: var(--color-secondary);
  }
  
  .footer .footer-content .social-links a {
    font-size: 14px;
    line-height: 0;
    display: inline-block;
    width: 32px;
    height: 32px;
    color: rgba(27, 47, 69, 0.5);
    margin-right: 10px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 50px;
  }
  
  .footer .footer-content .social-links a:hover {
    background-color: #38618e;
  }
  
  .footer .footer-content h4 {
    font-size: 16px;
    font-weight: bold;
    color: #29486a;
    position: relative;
    padding-bottom: 12px;
  }
  
  .footer .footer-content .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .footer-content .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-content .footer-links ul i {
    margin-right: 2px;
    color: var(--color-primary);
    font-size: 16px;
    line-height: 0;
  }
  
  .footer .footer-content .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-content .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-content .footer-links ul a {
    color: #31547c;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  .footer .footer-content .footer-links ul a:hover {
    color: var(--color-primary);
  }
  
  .footer .footer-content .footer-contact p {
    line-height: 26px;
    color: var(--color-secondary);
  }
  
  .footer .footer-legal {
    background: #fff;
    padding: 30px 0;
  }
  
  .footer .footer-legal .copyright {
    text-align: center;
    color: var(--color-secondary);
  }
  
  .footer .footer-legal .credits {
    padding-top: 4px;
    text-align: center;
    font-size: 13px;
    color: var(--color-secondary);
  }
  
  