.add-image-btn {
    background-color: #2869ff;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    border: none;
    border-radius: 4px;
    height: 32px;
    padding: 0 16px;
    transition: 0.2s;
    cursor: pointer;
  }
  .add-image-btn:hover {
    background-color: #6291fd;
  }